#store_search
  %label お店を検索する
  %input(type="text" placeholder="お店の名前" id="store_search__input")/

#store_list.flex

= form_with(model: proposal, local: true) do |form|
  - if proposal.errors.any?
    #error_explanation
      %h2
        = pluralize(proposal.errors.count, "error")
        prohibited this proposal from being saved:
      %ul
        - proposal.errors.full_messages.each do |message|
          %li= message
  .actions
    = form.submit
