body {
    height: 100%;
    margin: 0 0;
}

header {
    background-color: $pink;
    height: 70px;
    position:fixed;
    width: 100%;
    top: 0;
}
#app_title {
    text-align: center;
    color: $cream_white;
    line-height: 80px;
    margin:0;
    font-family: $title_eng_font;
    font-weight: lighter;
}