$dark: #07313A;
$pink: #EB5252;
$cream_white: #FFE3BD;
$gray: #BAB7A3;
$blue: #68AD9E;

@import url('https://fonts.googleapis.com/css?family=M+PLUS+1p|Syncopate');

$text_font: 'M PLUS 1p', sans-serif;
$title_eng_font: 'Syncopate', sans-serif;
$title_jp_font: 'M PLUS 1p', sans-serif;